.dialog {
  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background-color: #333333;
  border: 0;
  outline: 0;

  padding: 10px;

  max-width: 95vw;
  max-height: 95vh;

  overflow: auto;
}

.overlay {
  position: fixed;
  inset: 0;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
}
