.dialog {
  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background-color: #262626;
  outline: 0;
  padding: 0;

  max-width: 95vw;
  max-height: 95vh;

  overflow: auto;

  box-shadow: 0 0 10px rgba(var(--color-primary-rgb), 0.2);
  border: 1px solid rgba(var(--color-primary-rgb), 0.5);
}

.overlay {
  position: fixed;
  inset: 0;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
}
