@use "@/app/_styles/utils" as *;

.cell {
  // hack for correct height of child elements
  height: 1px;
}

.rowOverridden {
  background-color: rgba(0, 255, 0, 0.2);
}

.cellOverridden {
  background-color: rgba(0, 255, 0, 0.2);
}
