@import "@/app/_styles/utils";

.root {
  @include apply-custom-padding('tile-list-item');
  @include apply-custom-background-color('tile-list-item');

  width: var(--custom-spacing-tile-list-item-size);
  height: var(--custom-spacing-tile-list-item-size);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-size: cover;
}

.name {
  text-align: center;
}
