@use '@/app/_styles/utils' as *;

.root {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;

  @include apply-custom-gap('tile-list');
}

.rootStart {
  justify-content: flex-start;
}

.rootEnd {
  justify-content: flex-end;
}
