.itemHeadlineWrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid rgba(var(--color-primary-rgb), 0.4);

  @media (max-width: 768px) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    gap: 8px;
  }
}

