@import "@/app/_styles/index";

.root {
  @include color();
  @include spacing();
  @include border-radius();
  @include custom-gap();
  @include custom-font-size();

  display: flex;
  flex-direction: column;

  height: 100vh;

  padding: 8px;

  background-color: black;
}

.content {
  flex-grow: 1;
  overflow: auto;
}
