@use '@/app/_styles/utils' as *;

.root {
    position: sticky;

    top: 0;
    left: 0;
    right: 0;

    display: flex;

    @include apply-custom-padding('header');
    padding-top: 0;
    padding-bottom: 0;

    background-color: #000000;
    box-shadow: rgb(var(--color-primary-rgb)) 0 0 8px;
}

.iconWrapper {
    display: flex;

    align-items: center;
}

.icon, .iconLogout {
    width: 2rem;
}

.title {
    @include apply-custom-padding('header');

    flex-grow: 1;
}
