@use '@/app/_styles/utils' as *;

.root {
  @include apply-custom-padding('list-item');

  display: flex;
  gap: 8px;

  &:hover {
    background-color: rgba(var(--color-primary-rgb), 0.2);
  }
}

.main {
  flex-grow: 1;
}

.right {

}
