.overlay, .overlayColor {
  position: fixed;

  inset: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.overlayColor {
  background-color: rgba(var(--color-primary-rgb), 0.1);
}

.content {
  position: fixed;

  top: 32px;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1;
}

.closeButton {
  position: fixed;

  right: 16px;
  top: 16px;

  z-index: 2;
}
