@use "@/app/_styles/utils" as *;

.root {
}

.root:hover {
  background-color: rgba(var(--color-primary-rgb), 0.2);
}

.link {
  display: block;
  padding: 10px;

  white-space: nowrap;
}

.selected .link {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.icon {
  display: inline-block;
  width: 20px;
  margin-right: 4px;
}
