@use "@/app/_styles/utils" as *;

.root {
}

.root:hover {
  @include apply-custom-background-color('navigation--hover');
}

.link {
  display: block;
  padding: 10px;

  white-space: nowrap;
}

.selected .link {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.icon {
  display: inline-block;
  width: 20px;
  margin-right: 4px;
}
