.root {
  display: grid;

  grid-template-areas:
    'header'
    'navigation'
    'main';

  grid-template-columns: 1fr;
  grid-template-rows: max-content;

  gap: 5px;
}

.navigation {
  width: 100%;
  overflow: auto;
}

@media only screen and (min-width: 800px) {
  .root {
    grid-template-areas:
    'header header'
    'navigation main';

    grid-template-columns: 200px 1fr;
    grid-template-rows: max-content auto;
  }

  .navigation {
    width: auto;
    overflow: initial;
  }
}

.header {
  grid-area: header;
}

.navigation {
  grid-area: navigation;
}

.main {
  grid-area: main;
}
