.root {
  display: grid;

  grid-template-areas:
    'header'
    'navigation'
    'main';

  grid-template-columns: 1fr;
  grid-template-rows: max-content;

  gap: 5px;
}

.navigation {
  width: 100%;
  overflow: auto;

  background-color: #111111;
  box-shadow: #111111 0 0 8px;
  border-right: 1px solid #0F0F0F;

  padding: 8px;
}

@media only screen and (min-width: 800px) {
  .root {
    grid-template-areas:
    'header header'
    'navigation main';

    grid-template-columns: 220px 1fr;
    grid-template-rows: max-content auto;

    height: 100%;
  }

  .rootNoNavigation {
    grid-template-areas:
    'header header'
    'main main';
  }

  .navigation {
    width: auto;
    overflow: initial;
  }
}

.header {
  grid-area: header;
  z-index: 1;
}

.navigation {
  grid-area: navigation;

  padding-top: 8px;
  z-index: 1;
}

.main {
  grid-area: main;

  padding: 8px;
  padding-top: 16px;
  padding-bottom: calc(var(--bottom-spacing, 0px) + 8px);

  overflow: auto;
  z-index: 1;
}
