.versionHeaderRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.versionDescription {
  font-size: 0.85rem;
}

.versionExternalId {
  text-align: right;
  color: #666666;
  font-style: italic;
  font-size: 0.75rem;
}
