.root {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
}

.space {
  flex-grow: 1;
}

.toolbar {
  display: flex;

  padding: 8px;
  gap: 8px;

  flex-wrap: wrap;
}

.toolbarGroup {
  display: flex;

  gap: 8px;
}
