@use '@/app/_styles/utils' as *;

.root {
  --color: #FFFFFF;

  margin: 20px 0;

  border-color: var(--color);
  background-color: #000000;
  border: none;
}

.rootWithPadding {
  @include apply-custom-padding('section');

  padding: 16px;
}

.legend {
  color: var(--color);

  margin-left: 15px;
}

.rootWithPadding .legend {
  margin-left: 0;
}
