$spacing: (
  none: none,
  1: 4px,
  2: 8px,
  3: 16px,
  4: 24px,
  5: 32px,
  6: 40px,
  7: 48px,
  8: 56px,
  9: 64px,
  10: 72px,
  11: 80px,
  12: 88px,
  13: 96px
);

$font-size: (
  xs: 0.75rem,
  sm: 0.875rem,
  m: 1rem,
  lg: 1.125rem,
  xl: 1.25rem,
);

$colors: (
  white: '#FFFFFF',
  black: '#000000',
  contrast-light: '#333333',
  contrast-normal: '#666666',
  contrast-strong: '#E8E8E8',
);

$custom-spacing: (
);

$custom-padding: (
);

$custom-border-radius: (
);

$custom-background-color: (
);

$custom-text-color: (
);
